<div class="weather-details__container">
  <h1>{{weatherData.name}}</h1>
  <div class="weather-icon__container" [ngSwitch]="!!weatherData.weather[0].main">

    <i class="fas fa-cloud" *ngSwitchCase="weatherData.weather[0].main === 'Clouds'">
      </i>

      <i class="fas fa-tint" *ngSwitchCase="weatherData.weather[0].main === 'Rain' || weatherData.weather[0].main === 'Drizzle'">
      </i>

      <i class="fas fa-bolt" *ngSwitchCase="weatherData.weather[0].main === 'Storm' || weatherData.weather[0].main === 'Thunderstorm'">
      </i>


      <i class="fas fa-sun" *ngSwitchCase="weatherData.weather[0].main === 'Sunny' || weatherData.weather[0].main === 'Clear'">
      </i>

    <i class="fas fa-eye-slash" *ngSwitchCase="weatherData.weather[0].main === 'Fog'"></i>
  </div>
  <p>{{weatherData.weather[0].description}}</p>
  <h1>{{weatherData.main.temp}} &deg;C</h1>
</div>
